[user]
    username = luc1ph3r
    email = electrocartridge@gmail.com
[includeIf "gitdir/i:~/src/"]
    path = ~/src/.gitconfig
[diff]
    guitool = meld
    tool = vimdiff
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    pull = pull --rebase
[core]
    excludesfile = /Users/ivanzhukov/.gitignore.global
